<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <div class="container mt-4" th:fragment="post-edit">
        <h1>Edit Post</h1>
        <form th:action="@{/posts/{postId}(postId=${post.id})}" method="post" enctype="multipart/form-data">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" th:value="${post.title}" required>
            </div>
            <div>
                <label for="content">Content:</label>
                <textarea id="content" name="content" th:text="${post.content}" required></textarea>
            </div>
<!--            <div>-->
<!--                <label for="thumbnailContent">Thumbnail Content:</label>-->
<!--            <input type="text" id="thumbnailContent" name="thumbnailContent" th:value="${post.thumbnailContent}">-->
<!--            </div>-->

            <h3>Categories</h3>
            <ul>
                <li th:each="categoryName : ${post.categoryNames}" th:text="${categoryName}"></li>
            </ul>

            <h3>Files</h3>
            <ul>
                <li th:each="file : ${post.files}">
                    <a th:href="@{${file.fileUrl}}" th:text="${file.fileName}"></a>
                    <form th:action="@{/posts/{postId}/delete-file/{fileId}(postId=${post.id}, fileId=${file.id})}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">삭제</button>
                    </form>
                </li>
            </ul>

<!--            <h3>Files</h3>-->
<!--            <ul>-->
<!--                <li th:each="file : ${post.files}">-->
<!--                    <a th:href="@{${file.fileUrl}}" th:text="${file.fileUrl}"></a>-->
<!--                    &lt;!&ndash; 삭제 버튼 추가 &ndash;&gt;-->
<!--                    <form th:action="@{/posts/{postId}/delete-file/{fileId}(postId=${post.id}, fileId=${file.id})}" method="post" style="display:inline;">-->
<!--                        <button type="submit" class="btn btn-danger">삭제</button>-->
<!--                    </form>-->
<!--                </li>-->
<!--            </ul>-->

            <div>
                <button type="submit">저장</button>
            </div>
        </form>
    </div>
</body>
</html>
